
assets/._Lato-Bold.ttf
assets/._SISMO_TEMPLATE_AUTO.png
assets/._SISMO_TEMPLATE_MODIFIED.png
._.gitignore
.github/workflows/._main.yml
.github/workflows/._main.yaml
._create_image.py
._fetch.py
._sismos_ipma.csv
._testdata.csv
.DS_Store

.venv/
venv/
env/
ENV/
venv.bak/
env.bak/
