body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.div-principal {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    width: 99vw;
}

.info-div {
    background-color: rgb(255, 94, 0);
    width: 28vw;
    padding-left: 5px;
    padding-right: 5px;
}

.info-div > h1 {
    color: black;
}

.dropdown {
    width: 100%;
}

.description {
    color: black;
    background-color: azure;
}

.description > table, th, td {
    border: 1px solid black;
}

.description > table > tr > th, td {
    padding-left: 1vw;
}

.img-ipma {
    visibility: visible;
    text-decoration: none;
}

.img-ipma > p {
    margin-top: 30vh;
    margin-left: 1vw;
    text-decoration: none;
    font-style: normal;
    color: black;
    font-size: 2vw;
    margin-bottom: 0;
}

.div-mapa {
    height: 100vh;
}

.mapa {
    width: 67.5vw;
    height: 100vh;
}

.more-info {
    color: black;
    visibility: hidden;
}
.mobile-info {
    visibility: hidden;
    display: none;
}

.mobile-info-div {
    background-color: transparent;
    position: unset;
}

.more-info-div {
    position: fixed;
    z-index: 4;
    width: 25vw;
}

/* Classes para esconder e mostrar */
.hidden {
    display: none;
    visibility: hidden;
    position: unset;
    top: auto;
    z-index: -10;
}

.visible {
    display: block;
    visibility: visible;
}

@media screen and (max-width: 600px) {
    body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .div-principal {
        display: grid;
        overflow: hidden;
    }
    
    .info-div {
        background-color: rgb(255, 94, 0);
        width: 99vw;
        height: 8vh;
        color: black;
        text-align: center;
    }
    .info-div > h1 {
        padding-top: -1vh;
        color: rgb(0, 0, 0);
        font-size: 7vw;
    }

    .div-mapa {
        height: 99vh;
        width: 121vw;
    }
    
    .mapa {
        width: 121vw;
        height: 100vh;
    }
    .mobile-info {
        position: absolute;
        display: block;
        visibility: visible;
    }

    .dropdown {
        z-index: 6;
        position: absolute;
        top: 2vh;
        left: 10vw;
        width: 80vw;
    }
    .description {
        z-index: 5;
        position: absolute;
        top: 10vh;
        left: 5px;
        color: black;
        text-align: left;
        background-color: transparent;
    }
    .description > table, th, td {
        border: 0px;
    }
    
    .description > table > tr > th, td {
        font-size: 3vw;
        padding-left: 0vw;
    }
    .img-ipma {
        visibility: hidden;
    }

    .more-info {
        z-index: 5;
        position: absolute;
        top: 18vh;
        width: 100vw;
        text-align: center;
        color: black;
        
    }
    .more-info > h4 > a {
        font-style: normal;
        text-decoration: solid;
    }

    .mobile-triguer-info {
        z-index: 5;
        width: 100vw;
        height: 5vh;
        position: absolute;
        top: 86vh;
        border-radius: 15px;
        color: white;
        background-color: black;

    }

    .mobile-triguer-info > p {
        margin-top: 1vh;
        font-size: 4vw;
    }

    .more-info {
        visibility: visible;
    }

    .more-info-div {
        position: absolute;
        top: 60vh;
        z-index: 4;
        background-color: rgba(240, 255, 255, 0.705);
        border-radius: 20px;
        height: 25vh;
        width: 100vw;
        transition: all 0.3s ease;
    }
    
    /* Classes para esconder e mostrar */
    .hidden {
        display: none;
        visibility: hidden;
        position: unset;
        top: auto;
        z-index: -10;
    }
    
    .visible {
        display: block;
        visibility: visible;
    }
}