name: Fetch Data and Create Image

on:
  schedule:
    - cron: '0/5 * * * *'  # Run this action every 5 minutes
  workflow_dispatch:

jobs:
  fetch-and-create:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        lfs: true
    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install requests pandas Pillow

    - name: Fetch data
      run: python fetch.py

    - name: Create Image if new data
      run: |
        NEW_DATA=$(python -c "import pandas as pd; df = pd.read_csv('sismos_ipma.csv'); print(df['Title'].iloc[0] if not df.empty else '')")
        if [[ -n "$NEW_DATA" && "$NEW_DATA" != "$(cat latest_data.txt 2>/dev/null || true)" ]]; then
          python create_image.py
          echo "$NEW_DATA" > latest_data.txt
        fi
    - name: Commit and push if there's new data
      run: |
        git config --global user.email "hello@vost.pt"
        git config --global user.name "vospt"
        git add sismos_ipma.csv latest_data.txt assets/SISMO_TEMPLATE_MODIFIED.png
        git commit -m "Update data" || echo "No changes to commit"
        git push origin
